.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  height: 260px;
  position: relative;
}

.container {
  padding: 2px 16px;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  z-index: 3;
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 71, 133, 0.3),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 500ms;
}
