.btn {
  position: relative;
  padding: 20px 35px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 20px 50px rgb(255 255 255 / 5%);
  border: 0;
  overflow: hidden;
}
.btn::before {
  position: absolute;
  width: 50%;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
  background: rgb(142 255 240 / 10%);
}

.btn span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #002b9d, #34ffea);
  animation: anim1 2s linear infinite;
  border-radius: 2px;
}
@keyframes anim1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.btn span:nth-child(2) {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #002b9d, #34ffea);
  animation: anim2 2s linear infinite;
  animation-delay: 1s;
  border-radius: 2px;
}
@keyframes anim2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.btn span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #002b9d, #34ffea);
  animation: anim3 2s linear infinite;
  border-radius: 2px;
}
@keyframes anim3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn span:nth-child(4) {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #002b9d, #34ffea);
  animation: anim4 2s linear infinite;
  animation-delay: 1s;
  border-radius: 2px;
}
@keyframes anim4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
